@import './fonts/fonts.css';

/* Continue for other variations as needed */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	width: 100%;
	height: 100%;
	font-family: 'Switzer var', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
	font-size: 32px;
}
